# Generated
tasks*/
jobs*/

# Envs
.env
.env.*
!.env.example
!.env.sample
!.env.template

# Python cache
.venv/
__pycache__/
*.py[cod]

# Certs
local_scripts/certs/
*.pem
*.key
*.p12
*.pfx
*.crt
*.cer

# Temp
tmp/
harbor_gen_config.json
